.question1{
    display: flex;
    color: goldenrod;
    font-size: 30px;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    list-style: none;
}

.question2{
    display: flex;
    color: goldenrod;
    font-size: 30px;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    list-style: none;
}


.question3{
    display: flex;
    color: goldenrod;
    font-size: 30px;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    list-style: none;
}

*{
    background-color: rgb(171, 68, 175);
}

